@font-face {
  font-family: 'God of War';
  src: url('./Fuentes/GODOFWAR.TTF');
}

body {
  font-family: 'God of War', sans-serif;
  background-image: url('./ImagenesFigmaElfo/Portada.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column; /* Cambiado a columna para apilar H1 y la imagen */
  justify-content: center; /* Centra el contenido verticalmente si hay espacio */
  align-items: center; /* Centra el contenido horizontalmente (H1 y la imagen) */
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}

body h1 {
  filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
  color: rgb(255, 255, 255);
  margin-bottom: 20px; /* Espacio debajo del título y la imagen */
  text-align: center;
}

body button {
  background-color: #252525;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
}

button:hover {
  background-color: rgb(0, 91, 30);
  color: #ffffff;
  box-shadow: 0 0 25px #fec1958c;
}

.button-group {
  display: flex;
  gap: 40px;
  margin-bottom: 15px;
}

.gender-section {
  margin-top: 0;
}

.gender-section h2 {
  color: rgb(255, 255, 255);
  filter: drop-shadow(5px 5px 5px rgb(2, 2, 2));
  margin-top: 0;
  margin-bottom: 12px;
}

/* *** NUEVOS ESTILOS PARA LA IMAGEN *** */
.story-image-container {
    margin-top: 20px; /* Espacio entre el H1 y la imagen */
    text-align: center; /* Para centrar la imagen si es más pequeña que su contenedor */
}

.story-gif {
    max-width: 40%; /* El 40% del ancho de su padre (.left-panel) */
    height: auto; /* Mantiene la proporción */
    display: block; /* Asegura que la imagen sea un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente dentro de story-image-container */
    /* Eliminar bordes y sombras si los hubiera por defecto */
    border: none;
    box-shadow: none;
    border-radius: 0;
}


/* Otros estilos para la barra de título si los tienes */
.custom-titlebar {
    -webkit-app-region: drag;
    height: 30px; /* Asegúrate de que esta altura sea consistente con el padding-top del body */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    z-index: 100;
}

.app-controls button {
    -webkit-app-region: no-drag;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    padding: 0 10px;
    cursor: pointer;
}

.app-controls button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.app-controls .close-button:hover {
    background-color: #e81123;
}