@font-face {
    font-family: 'CafeFuente';
    src: url('./Fuente/LTMakeup-Regular.otf');
}

@font-face {
  font-family: 'God of War';
  src: url('./Fuente/GODOFWAR.TTF');
}

body {
    font-family: 'God of War', sans-serif;
    background-image: url('./Imagenes-Figma/escoger\ pj.jpeg');
    background-size: cover;
    height: 400px;
  }
nav {
    background-color: #252525;
    overflow: hidden;
  }
nav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/*nav a:hover {
    background-color: #91891b;
    color: black;
  }
nav a.active {
    background-color: #4CAF50;
    color: rgb(163, 150, 30);
  }

/* Asi se hacen comentarios */