@font-face {
    font-family: 'CafeFuente';
    src: url('./Fuentes/LTMakeup-Regular.otf');
}

@font-face {
  font-family: 'God of War';
  src: url('./Fuentes/GODOFWAR.TTF');
}

body {
  font-family: 'God of War', sans-serif;
}
body h1{
  filter: drop-shadow(1px 1px 3px white);
  display: flex;
  justify-content: center; 
}
body p{
  filter: drop-shadow(1px 1px 3px white);
}

nav button{
  background-color: #252525;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; /*hace que e cursor se convierta en una manito*/
  }

button:hover{
    background-color: rgb(63, 0, 0);
    color: #ffffff;
    box-shadow: 0 0 25px #fec1958c;
  }


