@font-face {
    font-family: 'God of War';
    src: url('./Fuentes/GODOFWAR.TTF');
    }
    
body {
    font-family: 'God of War', sans-serif;
    filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
    overflow: hidden;
    background-color: black;
    background: url('./ImagenesFigmaElfo/escogerPj.jpeg');
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center;
    background-repeat: no-repeat; /*hace que no se repita el fondo*/
    height: 100vh; /* Hace que el fondo ocupe toda la pantalla */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
        }


body h2{
    filter: drop-shadow(1px 1px 3px white);
    display: flex;
    justify-content: center; 
    }

body form {
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    align-items: center;
    gap: 10px;
}
    
body button{
    background-color: #252525;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; /*hace que e cursor se convierta en una manito*/
    }
    
button:hover{
      background-color: rgb(0, 63, 21);
      color: #ffffff;
      box-shadow: 0 0 25px #fec1958c;
    }
    
input {
    padding: 15px; /* Aumenta el espacio interno para que se vea más grande */
    width: 150px; /* Cambia el ancho a 350px (ajústalo según tu diseño) */
    border: 2px solid #009405ce; /* Bordes más visibles */
    border-radius: 15px; /* Bordes redondeados */
    font-size: 14px; /* Hace que el texto dentro del input sea más grande */
}