@font-face {
    font-family: 'God of War';
    src: url('../Fuentes/GODOFWAR.TTF');
    }

body {
    font-family: 'God of War', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    height: 100vh; /* Ocupa toda la pantalla */
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 60px; /* Ajusta el tamaño dinámicamente */
    color: white;
    text-align: center;
    font-weight: bold;
}

div button {
    background-color: #252525;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: px;
    cursor: pointer; 
  }
  
  button:hover{
      background-color: rgb(63, 0, 0);
      color: #ffffff;
      box-shadow: 0 0 25px #fec1958c;
    }
