@font-face {
    font-family: 'God of War';
    src: url('../Fuentes/GODOFWAR.TTF');
    }

body {
    font-family: 'God of War', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    height: 100vh; /* Ocupa toda la pantalla */
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 60px; /* Ajusta el tamaño dinámicamente */
    color: white;
    text-align: center;
    font-weight: bold;
}

div button {
  background-color: #3c3c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}

button:hover{
    background-color: rgb(10, 63, 0);
    color: #ffffff;
    box-shadow: 0 0 25px #fec1958c;
  }

/* Otros estilos para la barra de título si los tienes */
.custom-titlebar {
    -webkit-app-region: drag;
    height: 30px; /* Asegúrate de que esta altura sea consistente con el padding-top del body */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    z-index: 100;
}

.app-controls button {
    -webkit-app-region: no-drag;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    padding: 0 10px;
    cursor: pointer;
}

.app-controls button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.app-controls .close-button:hover {
    background-color: #e81123;
}